<a href="https://colab.research.google.com/github/LanceAlcala/CPEN21A-CpE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loop Statement

###For Loop Statement

In [3]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###Break Statement

In [9]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  print(x)
  if x=='Wednesday':
    break                     #the print will stop at the designated value

Sunday
Monday
Tuesday
Wednesday

In [11]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  if x=='Wednesday':
    break
  print(x)                  #if the "print" is before if statement, it will stop before the value

Sunday
Monday
Tuesday

###Looping through a String

In [12]:
for x in 'week':
  print(x)

w
e
e
k

###Range Function

In [14]:
for x in range(6):
  print(x)                    #when the start of the range is not specified, default start is from zero and then until the number before the specified number

0
1
2
3
4
5

In [15]:
for x in range(2,6):
  print(x)                    #since the start of the range is specified, it will start from that number until the number before the specified end

2
3
4
5

###Nested Loop

In [16]:
adjective = ['red','big','tasty']
fruits = ['apple','banana','cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

###Python While Loop

In [1]:
i = 1
while i<6:
  print(i)
  i+=1                  #do not execute without this

1
2
3
4
5

In [6]:
i = 1
while i<6:
  print(i)
  if i==4:
    break               #this means that the code will stop when the variable reached the specified number
  i+=1

1
2
3
4

In [30]:
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

###The else statement

In [37]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print('i is no longer less than 6')

1
2
3
4
5
i is no longer less than 6

###Application 1

In [26]:
for x in range(11):
  print('Hello',x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2

In [36]:
i = 3
while i<10:
  print(i)
  if i==10:
    break
  i+=1

3
4
5
6
7
8
9

or

In [42]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9